<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=34bd2076-c5f4-4659-9035-927f917ba1c0&lang=ru_RU" type="text/javascript"></script>
</head>
<body>
  {{> "./src/templates/geo-content.hbs"}}
</body>
</html>