<ul class="reviews">
  {{!-- {{#each this}} --}}
  <li class="reviews__item">
    <div class="reviews__item-info">
      <span class="reviews__item-name">{{firstName}}</span>
      <span class="reviews__item-place">{{place}}</span>
      <span class="reviews__item-date">{{date}}</span>
    </div>
    <div class="reviews__item-text">{{review}}</div>
  </li>
  {{!-- {{/each}} --}}
</ul>